@media screen and (max-width: 425px) {
    body {
            width: 100%;
            overflow-x: hidden;
        }
        
    .grid-section {
        width: 100%;
        overflow-x: hidden;
    }

    .top-logos {
        justify-content: space-around;
    }

  .logo-sg>img {
      width: 200px;
  }

  .logo-fnd>img {
      width: 200px;
  }

  .img-slide {
      width: 450px;
  }

  .phone-contacts {
      margin-left: 10px;
      display: flex;
      align-items: center;
  }

  .phone-contacts>img {
      width: 52px;
  }

  .contacts {
      padding-left: 30px;
      margin-top: -55px;
  }

  .about-us {
      margin-left: 10px;
  }

    .about-us>p {
        font-size: 26px;
        padding-right: 20px;
    }

  .line-gradient {
      width: 85%;
  }

  .slogan {
      padding-left: 30px;
      width: 400px;
      margin-left: 10px;
  }


  .first-column {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: nowrap;
      width: 390px;
      margin-right: 0px;
  }

  .second-column {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: nowrap;
      width: 390px;
      margin-right: 0px;
      margin-top: -10px;
  }


    .title-main-head>h1 {
        color: #002300;
        font-weight: 800;
        font-size: 38px;
    }

    .catalog {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    
    .catalog-item {
        width: 350px;
        height: auto;
        margin-right: 0px;
        margin-bottom: 50px;
        transition: height 0.5s ease;
    }

    .catalog-item>img {
        width: 240px;
        margin-left: 0px;
        margin-bottom: 20px;
        height: 200px;
        object-fit: contain;
    }

    .title-item {
        margin-top: 10px;
        margin-left: 30px;
        height: 270px;
        margin-right: 20px;
        padding-right: 20px;
        line-height: 20px;
    }

    .title-item>span {
        font-weight: 400;
        color: var(--white-color);
        font-size: 15px;
    }

    .title-item>p {
        margin-block-end: 0px;
        margin-block-start: 0px;
        font-weight: 400;
        color: var(--white-color);
        font-size: 15px;
    }

    .btn-section-third .button_show_more {
        margin-left: 25px;
    }

    .phone-ordering>a>span {
        font-size: 31px;
    }

    .footer-contacts {
        margin-left: 30px;
        margin-bottom: 15px;
    }

    .footer-information {
        margin-right: 0px;
        margin-top: 0px;
        text-align: left;
        margin-left: 30px;
        width: 390px;
    }

    .form-feedsback_bg {
        margin-right: 0px;
        width: 480px;
    }

    .name-input>input {
        width: 368px;
    }

    .phone-input>input {
        width: 368px;
    }

    .email-input>input {
        width: 398px;
    }

    .form-feedback-btn {
        display: flex;
        justify-content: center;
        margin-bottom: 27px;
        margin-right: 0px;
    }

    .form-feedback-btn > button {
        margin-right: 8px;
    }

}



@media screen and (max-width: 375px) {
    .logo-sg>img {
            width: 150px;
        }

    .logo-fnd>img {
        width: 150px;
    }

    .img-slide {
        width: 400px;
    }

    .slogan {
        padding-left: 30px;
        width: 362px;
        margin-left: 10px;
    }


    .first-column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: nowrap;
        width: 350px;
        margin-right: 0px;
    }


    .ecology>img {
        width: 90px;
        height: 90px;
    }


    .second-column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: nowrap;
        width: 350px;
        margin-right: 0px;
        margin-top: -10px;
    }

    .graphics>img {
        width: 90px;
        height: 90px;
    }

    .title-main-head>h1 {
        color: #002300;
        font-weight: 800;
        font-size: 34px;
    }

    .phone-ordering>a {
        margin-left: 20px;
    }

    .phone-ordering>a>span {
        font-size: 30px;
    }

    .footer-information {
        width: 330px;
    }

    .about-us>p {
        font-size: 24px;
        padding-right: 20px;
    }

    .slogan>p {
        font-size: 19px;
    }


    .form-feedsback_bg {
        width: 450px;
    }

    .name-input>label {
        margin-left: 69px;
    }

    .name-input>input {
        width: 330px;
        margin-left: 70px;
    }

    .phone-input>input {
        width: 330px;
        margin-left: 70px;
    }

    .phone-input>label {
        margin-left: 69px;
    }

    .email-input>label {
        margin-left: 69px;
    }

    .email-input>input {
        margin-left: 70px;
        width: 376px;
    }

    .form-feedback-container-checkbox {
        margin-left: 70px;
        font-size: 12px;
    }

}


@media screen and (max-width: 320px) {
    .img-slide {
            width: 330px;
        }

    .contacts {
        padding-left: 10px;
        margin-top: -55px;
    }

    .slogan {
        padding-left: 10px;
        width: 322px;
        margin-left: 10px;
    }
    
    .first-column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: nowrap;
        width: 310px;
        margin-right: 0px;
    }

    .ecology {
        display: flex;
        align-items: center;
        margin-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .ecology>img {
        width: 70px;
        height: 70px;
    }

    .ecology > p {
        font-size: 14px;
    }


    .second-column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: nowrap;
        width: 310px;
        margin-right: 0px;
    }

    .graphics {
        padding-left: 10px;
        padding-right: 10px;
    }


    .graphics>img {
        width: 70px;
        height: 70px;
    }

    .graphics>p {
        font-size: 14px;
    }


   .title-main-head>h1 {
    font-size: 29px;
   }

   .catalog-item {
       width: 300px;
       height: auto;
       margin-right: 0px;
       margin-bottom: 50px;
       transition: height 0.5s ease;
   }

   .catalog-item>a>img {
    width: 250px;
   }

    .title-item>span {
        font-weight: 400;
        color: var(--white-color);
        font-size: 12px;
    }

    .title-item>з {
        font-weight: 400;
        color: var(--white-color);
        font-size: 12px;
    }

    .phone-ordering>a>span {
        font-size: 27px;
    }

    .footer-information {
        width: 290px;
    }


    .form-subtitle>h3 {

        font-size: 16px;
        line-height: 26px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .name-input>label {
        margin-left: 30px;
    }

    .name-input>input {
        width: 265px;
        margin-left: 30px;
    }

    .phone-input>label {
        margin-left: 30px;
    }

    .phone-input>input {
        width: 265px;
        margin-left: 30px;
    }

    .email-input>label {
        margin-left: 30px;
    }

    .email-input>input {
        width: 265px;
        margin-left: 30px;
    }

    .form-feedback-btn {
        display: flex;
        justify-content: center;
        margin-bottom: 27px;
    }

    .form-feedback-container-checkbox {
        margin-left: 60px;
        font-size: 10px;
    }

    .form-feedsback_bg {
        background: #fff;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 120px;
        width: 506px;
        box-shadow: 0px 30px 30px rgb(0 0 0 / 56%);
        border-radius: 5px;
        margin-bottom: 0px;
        height: 505px;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}